<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="source">
            <a href="https://gitlab.com/CerealBusTechBlog/cerealbustechblog.gitlab.io">Source Code</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
